<nav class="bg-gray-100 px-12 shadow-lg shadow-neutral-200 ">
    <div class="h-20 items-center justify-between container mx-auto flex">
        <div class="flex gap-2 justify-center items-center">
            <a href="/" class="flex flex-nowrap flex-row justify-center gap-1">
                <ion-icon class="app-logo text-3xl text-neutral-800" name="aperture"></ion-icon>
                <h3 class="title font-bold text-xl text-neutral-800">F-RS</h3>
            </a>
        </div>
    </div>
</nav>