@import url('https://fonts.googleapis.com/css2?family=Hind:wght@300;400;500&family=Kalam:wght@300;400;700&family=Montserrat:wght@300;400;500;700&display=swap');

body {
    background-color: #f2f2f2;
    height: 100vh;
    font-family: 'Hind', sans-serif;
    position: relative;
    color: #4e4e4e;
    /* background-color: red; */
    /* font-family: 'Open Sans', sans-serif; */
}


.app-title {
    font-family: 'Kalam', cursive;
    font-weight: 600;
    font-size: 22px;
    color: rgb(0, 0, 0)
}

.page-title {
    color: #545454;
    font-size: 26px;
    font-weight: 700;
    font-family: 'Kalam', cursive;
}


.title {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

.app-logo {
    -webkit-animation:spin 14s linear infinite;
    -moz-animation:spin 14s linear infinite;
    animation:spin 14s linear infinite;
}

.loading-spinner {
    -webkit-animation:spin 2s linear infinite;
    -moz-animation:spin 2s linear infinite;
    animation:spin 2s linear infinite;
}

#messages-container {
    min-height: 62vh;
    max-height: 62vh;
}

@media (min-width: 640px) {
    #messages-container {
        max-height: 440px;
    }
}

.msg-div::-webkit-scrollbar {
    width: 7px;
}

.msg-div::-webkit-scrollbar-track {
    background: #e4e4e4;
}

.msg-div::-webkit-scrollbar-thumb {
    background: rgb(207, 204, 204);
}

#msg-header {
    box-shadow: 0px 15px 10px -15px rgba(17, 17, 17, 0.068);
}

.max-w-xxs {
    max-width: 250px;
}

@-moz-keyframes spin { 
    100% { -moz-transform: rotate(360deg); } 
}
@-webkit-keyframes spin { 
    100% { -webkit-transform: rotate(360deg); } 
}
@keyframes spin { 
    100% { 
        -webkit-transform: rotate(360deg); 
        transform:rotate(360deg); 
    } 
}
