<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'components/head.html' %}
    <script src={{ url_for('static', path='/js/chatroom.js') }} defer></script>
    <title>Chat</title>
</head>
<body>
    {% include 'components/navbar.html' %}
    <div class="container mx-auto px-3 chatoroom-container">
        <div id="server-info" class="hidden" data-app_domain={{ app_domain }} data-chatroom_pk={{ chatroom_pk }} data-user_pk={{ user.pk }}></div>
        <div id="message-container" class="h-full overflow-scroll msg-container max-w-2xl mx-auto mb-2 px-6 shadow-lg shadow-neutral-300 flex flex-col-reverse gap-y-2">
            {% for message in messages %}
                {% if user.pk == message.sender_pk %}
                <div class="flex justify-start">
                    <p class="bg-red-500 max-w-sm overflow-clip rounded-lg text-white py-2 px-4 ">{{ message.message }}</p>
                </div> 
                {% else %}
                <div class="flex justify-end">
                    <p class="bg-gray-500 max-w-sm overflow text-white py-2 px-4 rounded-lg">{{ message.message }}</p>
                </div>
                {% endif %}
            {% endfor %}
        </div>
        <form id="form-message" class="gap-x-3 px-5 pt-3 w-5/6 mx-auto flex justify-center">   
            <textarea id="text-area-msg" class="py-2 pl-4 outline-none h-16 resize-none w-2/4 bg-gray-200" type="text" rows="2" placeholder="Type a message"></textarea>
            <button class="pt-0.5 flex flex-col items-center justify-center">
                <img class="w-8 h-8 rotate-90" src={{ url_for('static', path='/svg/arrow_strech.svg') }} alt="">
                <span class="page-title text-lg mb-5 text-black">Send</span>
            </button>
        </form>
        <p class="text-red-700 -m-3 italic text-center mx-auto" id="error-msg"></p>
    </div>
</body>
</html>