<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'components/head.html' %}
    <title>Error</title>
</head>
<body>
    <div class="mt-14 flex justify-center items-center flex-col">
        <img class="w-3/5 max-w-sm" src="{{ url_for('static', path='/undraw_server_down_s-4-lkr.svg') }}" alt="server-error">
        <h1 class="mt-5 text-5xl font-bold">{{error_code}} </h1>
        <h2 class="mt-3 mb-2 text-xl font-semibold">{{error_type}}</h2>
        <p class="text-gray-400 w-4/6 max-w-sm text-center overflow-clip">{{error_msg}}</p>
    </div>
</body>
</html>