<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'components/head.html' %}
    <title>Document</title>
</head>
<body>
    <h1>Login</h1>
    <form enctype="multipart/form-data" action="/login" method="post" class="flex flex-col items-center gap-3">

        <input class="text-gray-700 p-3" type="email" name="email" placeholder="foo@test.com">
        {% if form_errors and form_errors.email %}
            <h1 class="text-red-500">{{form_errors.email}}</h1>
        {% endif %}

        <input class="text-gray-700 p-3" type="password" name="password">
        {% if form_errors and form_errors.password %}
            <h1 class="text-red-500">{{form_errors.password}}</h1>
        {% endif %}
    
        <input type="submit">
    </form>    
    {% if service_error %}
    <h1 class="text-red-800">{{service_error}}</h1>
    {% endif %}
</body>
</html>