<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'components/head.html' %}
    <title>Profile</title>
</head>
<body>
    {% include 'components/navbar.html' %}
    <main class="mb-auto container mx-auto ">
        <div class="flex p-7 pb-16 mx-auto flex-col items-center bg-gray-100 px-12 shadow-lg shadow-neutral-200 mt-10 max-w-md">
            <img class="w-16 h-16 rounded-full object-cover" src={{ user.image_url }} alt="user profile">
            <h2 class="text-xl my-3 text-gray-900 title font-semibold">{{user.username}}</h2>
            <div class="w-4/6 pb-3 my-1 border-gray-200 border-double border-b-2">
                <div class="font-semibold">EMAIL</div>
                <p>{{user.email}}</p>
            </div>
            <div class="w-4/6 pb-3 my-1 border-gray-200 border-double border-b-2">
                <div class="font-semibold">AGE</div>
                <p>{{user.age}}</p>
            </div>
            <div class="w-4/6 pb-3 my-1 border-gray-200 border-double border-b-2">
                <div class="font-semibold">JOIN DATE</div>
                <p>{{user.created_at}}</p>
            </div>
            <div class="w-4/6 pb-3 my-1 border-gray-200 border-double border-b-2">
                <div class="font-semibold">ROLE</div>
                <p>{{user.role}}</p>
            </div>
        </div>
    </main>
</body>
</html>