<!DOCTYPE html>
<html lang="en">

<head>
    {% include 'components/head.html' %}
    <title>Sign in</title>
</head>

<body>
    {% include 'components/navbar-clean.html' %}
    <main class="mb-30 grid grid-cols-1 px-20 pt-12">
        <form class="mb-10 flex flex-col justify-center items-center gap-3" enctype="multipart/form-data"
            action="/signin" method="post">
            <h2 class="title text-2xl mb-1">SIGN IN</h2>
            {% if service_error %}
            <div class="flex gap-x-2 py-2 justify-center">
                <ion-icon class="text-red-900 font-semibold text-2xl" name="alert-circle-outline"></ion-icon>
                <p class="text-red-900 italic font-medium text-lg">{{service_error}}</p>
            </div>
            {% endif %}
            <input class="text-gray-700 outline-none max-w-xs w-3/4 p-3" type="email" name="email" placeholder="Email" autocomplete="off">
            {% if form_errors and form_errors.email %}
            <p class="text-gray-700 -mt-2 italic w-3/4 text-center overflow-clip">{{form_errors.email}}</p>
            {% endif %}
            <input class="text-gray-700 outline-none max-w-xs w-3/4 p-3" type="password" placeholder="Password" name="password">
            {% if form_errors and form_errors.password %}
            <p class="text-gray-700 italic -mt-2 w-3/4 text-center overflow-clip">{{form_errors.password}}</p>
            {% endif %}
            <p class="text-gray-400 mt-1">You do not have an account? <a class="text-gray-500" href="/signup">Sign up</a></p>
            <input class="text-lg text-neutral-600 cursor-pointer mt-2 px-5 py-1 border-2 border-gray-300
            transition ease-in-out hover:border-gray-300 hover:scale-105 duration-300" value="Submit" type="submit">
        </form>
    </main>
</body>
</html>