<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'components/head.html' %}
    <script src={{ url_for('static', path='/js/users.js' ) }} defer></script>
    <title>Users</title>
</head>
<body>
    {% include 'components/navbar.html' %}
    <div class="container mx-auto px-5">
        <span id="server-info" data-auth_user_pk={{ user.pk }} class="hidden"></span>
        <img class="w-2/4 mx-auto my-8 sm:w-80" src={{ url_for('static', path='/svg/users_banner.svg' ) }}
            alt="Users banner">
        <div class="flex flex-col mx-auto sm:w-96 px-5 w-4/5">
            {% if users %}
                {% for user_to_chat in users %}
                    {% if user.pk != user_to_chat.pk %}
                    <div data-user_to_chat_pk={{ user_to_chat.pk }}
                        class="user-to-chat-field p-3 ease-in-out hover:bg-gray-200 duration-300 bg--300 flex items-center gap-3 border-b-2 border-gray-200">
                        {% if user_to_chat.image_url %}
                        <img class="w-8 h-8 rounded-full object-cover" src={{ user_to_chat.image_url }} alt="ASD">
                        {% else %}
                        <img class="w-8 h-8 rounded-full object-cover" src={{ url_for('static', path='/default_profile.jpg' ) }}
                            alt="user profile">
                        {% endif %}
                        <P class="page-title text-2xl text-gray-900">{{ user_to_chat.username }}</P>
                    </div>
                    {% endif %}
                {% endfor %}
            {% else %}
                <p class="mx-auto text-center text-gray-500">No users to display</p>
            {% endif %}
        </div>
    </div>
</body>

</html>